@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');
// Fuentes
$fuente_principal: 'Lato', sans-serif;
$logo_font: 'Advent Pro', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 769px;
$desktop: 1025px;

// Colores
$white: #FFFFFF;
$gray: #C9C9C9;
$orange: #CB4B2E;
$dark-orange: #9A3B26;
$blue: #272E4F;
$black: #000000;

$separacion: 5rem;

// // Fuentes

// $delgada: 300;
// $regular : 400;
// $bold: 700;
// $black: 900