@use '../settings/variables' as var;
@use '../settings/mixins' as mix;

.header-chat {
    z-index: 2;
    width: 100vw;
    position: fixed;
    height: 12vh;
    top: 0;
}

.header-bg-chat {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    background-color: var.$orange;
}

.conversation {
    padding-top: 12vh;
    width: 100vw;
    height: 88vh;
    background: rgb(242, 242, 240);
    background: linear-gradient(0deg, rgba(242, 242, 240, 1) 0%, rgba(203, 75, 46, 1) 100%);
}

.messages-body {
    width: 95%;
    height: 90%;
    overflow: scroll;
    margin: 0 auto;
}

.received {
    background-color: var.$blue !important;
}

.sent {
    background-color: var.$dark-orange !important;
    align-self: flex-end;
}