@use '../settings/variables' as var;
@use '../settings/mixins' as mix;

.menu-controller {
    z-index: 100;
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: 50px;
    border-radius: 100% 0% 0;
    overflow: hidden;
}

.contact-list {
    height: 0;
}

.expanded-menu {
    height: 550px;
    border-radius: 30% 0 0;
}

.menu-controller-btn-expanded {
    bottom: 520px !important;
}

.expanded-list {
    min-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 30% 0 0;
}

.contact {
    padding: .5em 0;
    overflow: hidden;

    .chat-items {
        padding: .3em 0;
        padding-left: 1em;
        width: 90%;
        column-gap: 1em;
    }
}