@use '../settings/variables' as var;
@use '../settings/mixins' as mix;

.header-bg {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    background-color: var.$orange;
}

.header {
    width: 100vw;
    position: absolute;
    width: 100vw;
    height: 8vh;
    top: 0;
    column-gap: 7em;
}

.header-items {
    width: 90%;

    .logo-name {
        color: var.$blue;
        font-weight: 600;
        font-family: var.$logo_font;
    }
}

.chat {
    padding: .5em 0;

    .chat-items {
        width: 90%;
    }
}