@use '../settings/variables' as var;
@use '../settings/mixins' as mix;

.login {
  min-height: 100vh;
  overflow: hidden;
}

.login-bg {
  z-index: -1;
  background-color: var.$orange;
  position: fixed;
  top: -120px;
  left: -50px;
  width: 700px;
  height: 750px;
  border-radius: 100%;
  // transform: rotate(30deg);

  @include mix.tablet {
    display: none;
  }
}

.login-logo {
  position: relative;
  width: 100vw;
  text-align: center;
  margin: 2em 0;

  img {
    width: 60%;
  }
}

.logIn-btn {
  width: 35vw;
}

.footer {
  column-gap: .2em;
  position: fixed;
  width: 100%;
  bottom: 1%;
  color: var.$orange;

  .logo-name {
    font-family: var.$logo_font;
    font-weight: 500;
    margin: 0;
  }

  .policies {
    margin: 0;
  }
}